<div class="position-relative container">
  <div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <h3 class="mb-0">Artist Directory</h3>
        <div class="form-group">
          <div class="form-label" *ngIf="query"><strong>For:</strong>
            {{ query }}
          </div>
          <input class="form-control mt-2" type="text">
        </div><!-- form-group -->
      </div><!-- card-body -->
    </div><!-- card -->
  </div><!-- row -->

  <div class="position-absolute container" style="left: 0; z-index:10">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
            *ngFor="let artist of artists"
            (click)="showArtist(artist)"
            [style.backgroundColor]="artist.highlight ? '#EEE' : '#FFF'">
              <div class="media">
                <img class="mr-3 rounded align-self-center img-fluid" 
                  style="width:70px;" [src]="'./assets/images/' + artist.shortname + '_tn.jpg'" alt="{{ 'Photo of ' + artist.name }}">
                <div class="media-body align-self-center">
                  <h5 class="m-0">{{ artist.name }}</h5>
                  {{ artist.reknown }}
                </div><!-- media body -->
              </div><!-- media -->
          </a><!-- link -->
        </div><!-- list-group -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->

</div><!-- position -->
